@import "./variables";

.main {
  background-image: url("../images/backgroundimg.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

  font-family: Roboto, Arial, sans-serif;
}

.main__body {
  background-color: $primary-red;
  display: flex;
  align-items: center;
  justify-content: center;

  .parent__sigin__page__container {
    background-color: $dark-bg;
    border-radius: 8px;
    height: 90%;
    min-width: 60%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 912px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideInFromLeft 1s ease-in;

    .parent__sigin__content__container {
      display: flex;
      flex-direction: column;
      //     align-items: center;
      //   justify-content: center;
      //   width: 70%;
      width: 75%;
      height: 100%;

      .parent__sigin__img__container {
        width: 250px;
        height: 250px;
        margin: 0 auto;

        img {
          width: 100%;
          margin-bottom: 0;
        }
      }

      .welcome__text {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .parents__login__paragraph {
        font-family: roboto;
        font-size: 20px;
        // margin-top: 50px auto;
        margin-bottom: 35px;
      }

      .center__section {
        .google__account__login__section {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid grey;
          border-radius: 7px;
          margin: auto;
          padding: 10px 0;
          p {
            font-size: 15px;
            margin-bottom: 0;
          }
          span {
            font-size: 14px;
          }
          img {
            margin-right: 20px;
            width: 60px;
          }

          &:hover {
            cursor: pointer;
            border: 1.5px solid $primary-green;
          }
        }
        .bottom__p {
          color: grey;
          font-size: 14px;
        }
      }

      .welcome_msg {
        font-size: 20px;
        font-weight: 600;
      }

      .button__section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 70px;
        .button__container {
          .signin__btn {
            background-color: $btn-background;
            color: white;
            padding: 5px;
            width: 100px;
            font-weight: 600;
            margin: 0 auto;

            &:hover {
              opacity: 0.9;
              transform: scale(1.1);
              transition: 0.5s ease-in;
            }
          }

          .skip__btn {
            color: $primary-green;

            &:hover {
              opacity: 0.9;
              transform: scale(1.2);
              transition: 0.5s ease-in;
            }
          }
        }
        .back__btn {
          color: $primary-green;

          &:hover {
            opacity: 0.9;
            transform: scale(1.2);
            transition: 0.5s ease-in;
          }
        }
      }

      a {
        text-decoration: none;
      }

      .parents__welcome__paragraph {
        font-size: 20px;
        font-weight: 300;
      }

      hr {
        width: 100%;
        height: 2px;
      }
    }
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .main {
    padding: 0 40px;
    .righ__bg__container {
      .parent__sigin__page__container {
        width: 80%;
        .parent__sigin__content__container {
          .center__section {
            width: 100%;
            .google__account__login__section {
              width: 80%;
            }
          }
          .welcome__text {
            margin-top: 30px;
            .bttn__container {
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 500px) {
  .main {
    padding: 0 20px;
    display: flex;

    .righ__bg__container {
      .parent__sigin__page__container {
        width: 85%;
        margin: auto;
        height: 80vh;
        .parent__sigin__content__container {
          margin: 0 20px;
          height: 70vh;

          // .content__img__container {
          //   width: 20px;
          // }

          .content__img__container {
            margin: 0 auto;
            width: 300px;
          }

          .welcome__text {
            margin-top: 30px;
            font-family: roboto;
            font-weight: 600;
            font-size: 25px;
          }
          .parents__login__paragraph {
            font-size: 1rem;
          }

          .center__section {
            .google__account__login__section {
              width: 80%;
            }
          }

          // .button__section {
          //   margin-top: 0;
          // }

          .bttn__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 auto;
            width: 80%;
            height: 40%;
            .bttn {
              // margin: 5px auto;
              margin-bottom: 30px;
              height: 40px;
              &:hover {
                opacity: 0.8;
              }
            }
          }

          .back__btn {
            display: none;
          }
          .button__section {
            .button__container {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 60%;
            }
          }
        }
      }
    }
  }
}
