.main__body {
  background-color: $primary-red;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Roboto, Arial, sans-serif;

  .profile__page__container {
    background-color: $dark-bg;
    border-radius: 8px;
    min-height: 90%;
    min-width: 60%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 912px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideInFromTop 1s ease-in;

    .profile__page__content__container {
      display: flex;
      flex-direction: column;
      //   align-items: center;
      //   justify-content: center;
      //   width: 70%;
      width: 75%;
      height: 83vh;
      position: relative;

      h1 {
        font-size: 1.7rem;
      }

      p {
        font-size: 1.2rem;
      }

      .profile__details__container {
        height: 40vh;
        width: 83%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        border: 1px solid gray;
        padding: 25px 30px;
        border-radius: 10px;

        .left__profile__details__container {
          width: 200px;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;

          .profile__img {
            width: 100%;
            border-radius: 50%;
          }
        }

        .right__profile__details__container {
          display: flex;
          justify-content: space-between;
          width: 50%;

          .kiddeatails {
            h1 {
              font-size: 1.2rem;
            }

            h4 {
              font-size: 1.1rem;
            }
          }

          .edit__icon {
            width: 35px;
            height: 35px;

            img {
              width: 100%;
            }

            &:hover {
              opacity: 0.9;
              transform: scale(1.2);
              transition: 0.2s ease-in;
            }
          }
        }
      }

      .profile__btn__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .profile__back__btn {
          border: none;
          color: $primary-green;
          background-color: transparent;

          &:hover {
            opacity: 0.9;
            transform: scale(1.2);
            transition: 0.2s ease-in;
          }
        }

        // .profile__right__btns__container {
        .add__profile__btn {
          border: none;
          color: $primary-green;
          margin-right: 20px;
          background-color: transparent;
          margin-left: 300px;

          &:hover {
            opacity: 0.9;
            transform: scale(1.2);
            transition: 0.2s ease-in;
          }
        }

        .next__profile__btn {
          padding: 8px 35px;
          align-self: flex-end;
          border-radius: 5px;
          border: none;
          background-color: $primary-green;
          color: white;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
            transform: scale(1.1);
            transition: 0.2s ease-in;
          }
        }
        // }
      }
    }
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .main {
    .righ__bg__container {
      .profile__page__container {
        width: 80%;

        .profile__page__content__container {
          height: 75vh;
          h1 {
            font-size: 1.5rem;
            font-weight: 600;
          }

          p {
            font-size: 1.1rem;
          }

          .profile__details__container {
            width: 80%;
            .left__profile__details__container {
              width: 100px;
              height: 100px;
              img {
                width: 100%;
              }
            }

            .right__profile__details__container {
              width: 50%;

              .kiddeatails {
                h1 {
                  font-size: 1.1rem;
                }
                h4 {
                  font-size: 1rem;
                }
              }

              .edit__icon {
                width: 30px;
                height: 30px;

                img {
                  width: 100%;
                }
              }
            }
          }

          .profile__btn__container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .profile__back__btn {
              font-size: 1rem;
            }

            .add__profile__btn {
              margin-left: 30px;
              font-size: 1rem;
            }

            .next__profile__btn {
              font-size: 1rem;
              padding: 7px 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .main {
    padding: 0 30px;

    .righ__bg__container {
      .profile__page__container {
        width: 80%;

        .profile__page__content__container {
          height: 75vh;

          width: 80%;
          display: flex;
          flex-direction: column;
          h1 {
            font-size: 1.3rem;
            font-weight: 600;
          }

          p {
            font-size: 0.9rem;
          }

          .profile__details__container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .left__profile__details__container {
              width: 100px;
              height: 100px;

              img {
                width: 100%;
              }
            }

            .right__profile__details__container {
              width: 100%;

              .kiddeatails {
                h1 {
                  font-size: 0.8rem;
                }
                h4 {
                  font-size: 0.8rem;
                }
              }

              .edit__icon {
                width: 30px;
                height: 30px;

                img {
                  width: 100%;
                }
              }
            }
          }

          .profile__btn__container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .profile__back__btn {
              font-size: 0.8rem;
            }

            .add__profile__btn {
              margin-left: 30px;
              font-size: 0.8rem;
            }

            .next__profile__btn {
              font-size: 0.8rem;
              padding: 3px 5px;
            }
          }
        }
      }
    }
  }
}
