@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$body-bg: #04daff;
$dark-bg: #bbd915;
$lightt-dark-bg: #cae00f;
$text-color: #f2a5b7;

$secondary-red: #f00;
$light-color: #fff;
$dark: #0d0d0d;

$primary-red: rgba(204, 0, 0, 0.9);
$primary-green: #00716c;
$secondary-green: #107516;

$primary-blue: #065fd4;
$btn-background: #008596;

$primary-purple: rgb(49, 10, 88);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  font-family: Roboto, sans-serif;
}

.card {
  background-color: $dark-bg;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}
.video__card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

// Animations

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}
