.video__player__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  animation: slideInFromTop 1s ease-in;

  position: relative;

  .left__nav__video__player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
    .arrow__icon {
      width: 40px;
      img {
        width: 100%;
        &:hover {
          transform: scale(1.1);
          transition: 0.3s ease-in;
        }
      }
    }

    .avatar__icon {
      width: 60px;
      img {
        width: 100%;
        &:hover {
          transform: scale(1.1);
          transition: 0.3s ease-in;
        }
      }
    }
  }

  .center__nav__video__player {
    width: 40%;
    position: absolute;
    left: 30%;
    .icon__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      top: 0;

      .icons__section__link {
        .icons__section {
          width: 70px;

          img {
            width: 100%;
          }

          p {
            color: rebeccapurple;
            font-weight: 700;
            font-size: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            margin-top: 10px;
          }

          &:hover {
            transform: scale(1.1);
            transition: 0.3s ease-in;
            p {
              font-size: 1rem;
              font-weight: 700;
              color: red;
            }
          }
        }
      }
    }
  }

  .right__nav__video__player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;

    .search__icon {
      display: flex;
      width: 60px;
      height: 60px;
      background-color: #c00;
      border-radius: 50%;

      &:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in;
      }
      img {
        width: 30px;
        margin: auto;
        // height: 30px;
      }
    }
    .lock__container {
      width: 40px;
      img {
        width: 100%;
        &:hover {
          transform: scale(1.1);
          transition: 0.3s ease-in;
        }
      }
    }
  }
}

.video__player__section {
  display: flex;
  width: 97%;
  position: relative;
  .left__player__section {
    // flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    // padding: 40px 100px;
    width: 75%;
    height: 79vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(235, 235, 235);

    .video__layout {
      height: 100%;
      display: flex;

      .video__container {
        margin: auto;
      }

      iframe,
      video {
        height: 60vh;
      }
    }

    .video__title__layout {
      padding-top: 12px;
      padding-left: 50px;
      background-color: #fff;
      width: 100%;

      p {
        font-size: 1.1rem;
      }
    }
  }

  .right__player__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    // animation: slideInFromRight 1s ease-in;
  }
  .right__player__section {
    justify-content: flex-end;

    width: 20%;

    .movies__card {
      width: 250px;
      height: 290px;
      position: relative;
      .video__image__container {
        width: 100%;
        height: 10px;
        img {
          width: 100%;
        }
      }

      .no__videos {
        display: flex;
        justify-content: space-between;
        width: 32%;
        height: 30px;
        padding: 0 5px;
        background-color: $primary-green;
        color: white;
        border-radius: 3px;
        position: absolute;
        right: 5px;
        bottom: 30%;
        font-size: 1rem;
      }

      .movie__title {
        margin-top: 15px;
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 249px;
        height: 25%;
        padding: 0 5px;

        display: flex;

        background-color: $primary-green;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        p {
          font-size: 1rem;
          margin: auto;
          color: white;
        }
      }

      &:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in;
      }
    }
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    .left__nav__video__player {
      // width: 15%;
      .arrow__icon {
        width: 20px;
        height: 20px;

        display: none;
        img {
          width: 100%;
        }
      }

      .avatar__icon {
        width: 30px;
        height: 30px;
        img {
          width: 100%;
        }
      }
    }

    .center__nav__video__player {
      width: 50%;
      position: absolute;
      left: 25%;

      .icon__container {
        .icons__section__link {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .icons__section {
            width: 40px;
            height: 40px;

            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 100%;
            }

            &:hover {
              transform: scale(1.1);
              transition: 0.3s ease-in;
              p {
                font-size: 0.6rem;
                // font-weight: 700;
                // color: red;
              }
            }
          }
        }
      }
    }

    .right__nav__video__player {
      .search__icon {
        width: 30px;
        height: 30px;

        img {
          width: 100%;
          max-width: 15px;
        }
      }

      .lock__container {
        display: none;
      }
    }
  }

  .video__player__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .left__player__section {
      z-index: 2;

      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: fixed;
      width: 100%;
      height: 45vh;

      .video__layout {
        height: 80%;
        display: flex;

        .video__container {
          margin: auto;
        }

        iframe,
        video {
          height: 35vh;
          width: 100%;
        }
      }

      .video__title__layout {
        padding: 10px 25px;
        background-color: #fff;
        width: 100%;

        p {
          font-size: 0.9rem;
        }
      }
    }

    .right__player__container {
      display: flex;
      // justify-content: center;

      width: 80%;
      // margin: auto;

      .right__player__section {
        width: 100%;
        margin: auto;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0.2rem;
        margin: auto;

        // .movies__card {
        //   width: 320px;
        //   height: 290px;
        //   position: relative;
        //   .video__image__container {
        //     width: 100%;
        //     height: 10px;
        //     img {
        //       width: 100%;
        //     }
        //   }

        //   .no__videos {
        //     display: flex;
        //     justify-content: space-between;
        //     width: 32%;
        //     height: 30px;
        //     padding: 0 5px;
        //     background-color: $primary-green;
        //     color: white;
        //     border-radius: 3px;
        //     position: absolute;
        //     right: 5px;
        //     bottom: 30%;
        //     font-size: 1rem;
        //   }

        //   .movie__title {
        //     margin-top: 15px;
        //     position: absolute;
        //     bottom: 0px;
        //     right: 0;
        //     width: 319px;
        //     height: 25%;
        //     padding: 0 5px;

        //     display: flex;

        //     background-color: $primary-green;
        //     border-bottom-left-radius: 10px;
        //     border-bottom-right-radius: 10px;
        //     p {
        //       font-size: 1rem;
        //       margin: auto;
        //       color: white;
        //     }
        //   }

        //   &:hover {
        //     transform: scale(1.1);
        //     transition: 0.3s ease-in;
        //   }
        // }

        .movies__card {
          width: 250px;
          height: 200px;
          position: relative;
          .video__image__container {
            width: 100%;
            height: 10px;
            img {
              width: 100%;
              max-height: 200px;
              height: 150px;
            }
          }

          .no__videos {
            display: flex;
            justify-content: space-between;
            width: 25%;
            height: 20px;
            padding: 0 5px;
            background-color: $primary-green;
            color: white;
            border-radius: 5px;
            position: absolute;
            right: 10px;
            bottom: 30%;
            font-size: 0.8rem;
          }

          .movie__title {
            margin-top: 15px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 249px;
            height: 25%;
            padding: 0 8px;
            background-color: $primary-green;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            p {
              font-size: 0.8rem;
              margin: auto;
              color: white;
            }
          }

          &:hover {
            transform: scale(1.1);
            transition: 0.3s ease-in;
          }
        }
      }
    }
  }
}

/* Mobile */

@media (max-width: 500px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .left__nav__video__player {
      // width: 15%;
      .arrow__icon {
        width: 20px;
        height: 20px;

        display: none;
        img {
          width: 100%;
        }
      }

      .avatar__icon {
        width: 30px;
        height: 30px;
        img {
          width: 100%;
        }
      }
    }

    .center__nav__video__player {
      // width: 45%;

      .icon__container {
        .icons__section__link {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .icons__section {
            width: 30px;
            height: 30px;

            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 100%;
            }

            &:hover {
              transform: scale(1.1);
              transition: 0.3s ease-in;
              p {
                font-size: 0.6rem;
                // font-weight: 700;
                // color: red;
              }
            }
          }
        }
      }
    }

    .right__nav__video__player {
      .search__icon {
        width: 30px;
        height: 30px;

        img {
          width: 100%;
          max-width: 15px;
        }
      }

      .lock__container {
        display: none;
      }
    }
  }

  .video__player__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .left__player__section {
      z-index: 2;

      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: fixed;
      width: 100%;
      height: 35vh;

      .video__layout {
        height: 80%;
        display: flex;

        .video__container {
          margin: auto;
        }

        iframe,
        video {
          height: 23vh;
          width: 100%;
        }
      }

      .video__title__layout {
        padding: 10px 25px;
        background-color: #fff;
        width: 100%;

        p {
          font-size: 0.9rem;
        }
      }
    }

    .right__player__container {
      display: flex;
      // justify-content: center;

      width: 90%;
      // margin: auto;

      .right__player__section {
        width: 100%;
        margin: auto;

        display: flex;
        flex-direction: column;
        margin: auto;

        // .movies__card {
        //   width: 320px;
        //   height: 290px;
        //   position: relative;
        //   .video__image__container {
        //     width: 100%;
        //     height: 10px;
        //     img {
        //       width: 100%;
        //     }
        //   }

        //   .no__videos {
        //     display: flex;
        //     justify-content: space-between;
        //     width: 32%;
        //     height: 30px;
        //     padding: 0 5px;
        //     background-color: $primary-green;
        //     color: white;
        //     border-radius: 3px;
        //     position: absolute;
        //     right: 5px;
        //     bottom: 30%;
        //     font-size: 1rem;
        //   }

        //   .movie__title {
        //     margin-top: 15px;
        //     position: absolute;
        //     bottom: 0px;
        //     right: 0;
        //     width: 319px;
        //     height: 25%;
        //     padding: 0 5px;

        //     display: flex;

        //     background-color: $primary-green;
        //     border-bottom-left-radius: 10px;
        //     border-bottom-right-radius: 10px;
        //     p {
        //       font-size: 1rem;
        //       margin: auto;
        //       color: white;
        //     }
        //   }

        //   &:hover {
        //     transform: scale(1.1);
        //     transition: 0.3s ease-in;
        //   }
        // }

        .movies__card {
          width: 300px;
          height: 220px;
          margin: 10px auto;
          position: relative;
          .video__image__container {
            width: 100%;
            // height: 10px;
            height: 100px;

            img {
              width: 100%;
            }
          }

          .no__videos {
            display: flex;
            justify-content: space-between;
            width: 22%;
            height: 20px;
            padding: 0 5px;
            background-color: $primary-green;
            color: white;
            border-radius: 5px;
            position: absolute;
            right: 10px;
            bottom: 30%;
            font-size: 0.8rem;
          }

          .movie__title {
            margin-top: 15px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 299px;
            height: 25%;
            padding: 0 8px;
            background-color: $primary-green;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            p {
              font-size: 1rem;
              margin: auto;
              color: white;
            }
          }

          &:hover {
            transform: scale(1.1);
            transition: 0.3s ease-in;
          }
        }
      }
    }
  }
}
